/vendor
/node_modules
/storage/*.index
/public/storage
/tests/report

Thumbs.db
composer.lock
yarn.lock
Homestead.yaml
Homestead.json
phpunit.xml

.env
.idea
.project
.DS_Store
*.map
npm-debug.log
*.cache
