<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Easel Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <!--<logging>-->
        <!--<log type="coverage-html" target="tests/Reports" lowUpperBound="35" highLowerBound="70"/>-->
        <!--<log type="testdox-html" target="tests/Reports/testdox.html"/>-->
        <!--<log type="testdox-text" target="tests/Reports/testdox.txt"/>-->
    <!--</logging>-->
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <server name="HTTP_HOST" value="localhost.dev"/>
        <server name="REMOTE_ADDR" value="127.0.0.1"/>
        <server name="SERVER_SOFTWARE" value="nginx/1.6.2"/>
    </php>
</phpunit>
